body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calendar-day th {
  width: 150px;
  height: 40px;
  vertical-align: top;
}

.calendar-day td {
  width: 150px;
  height: 160px;
  vertical-align: top;
  text-align: left;
}

.calendar-month td {
  width: 175px;
  height: 50px;
  vertical-align: top;
  font-size: larger;
}

.calendar-month td:hover {
  color: rgb(80, 80, 80);
}

.leftFloat {
  float: left;
}

.LoginMainDiv {
  background-image: url("../images/veszprem.jpg");
  background-size: cover;
}

.routerLink {
  margin: 1rem;
  color: white;
  text-decoration: none;
}

.routerLink:hover {
  color: rgb(180, 180, 180);
}

.calendar-label:hover {
  color: rgb(80, 80, 80);
}